<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
      <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
        <nav class="center">
            <ul class="navegador">
                <li class="li"><a class="item" href="/"><b>Início</b></a></li>
                <li class="li"><a class="item" href="/cadastrocliente"><b>Cadastro do Cliente</b></a></li>  
                <li class="li"><a class="item" href="/cadastroprodutos"><b>Cadastro dos Produtos</b></a></li>       
            </ul>
        </nav>
        <div class="contenier">
                 {{{ body }}}
        </div>
         <footer>
            <p>&copy; TVs e Monitores</p>
    </footer>
    
</body>
</html>