    <h1>Editando:{{this.ti}}</h1>
    
    
    <form class="pro" action="/produtos/create" method="POST">
    <div class=" from-contro">
        <label for="ti">Tipo do produto</label>
        <input type="text" name="ti" id="ti" value="{{produtos.ti}}"><br>
    </div>
    <div class=" from-contro">
        <label for="de">Descrição</label>
        <input type="text" name="de" id="de" value><br>
        <label for="pre">Preço</label>
        <input type="text" name="pre" id="pre"><br>
        <label for="qua">Quantidade de produtos</label>
        <input type="text" name="qua" id="qua"><br>
        <label for="poleg">Polegadas</label>
        <input type="text" name="poleg" id="poleg"><br>
        <label for="tipotecn">Tipo de Tecnologia</label>
        <input type="text" name="tipotecn" id="tipotecn"><br>
        <label for="infor"> Informações Extras </label>
        <input type="text" name="infor" id="infor"><br>
        <input type="submit" value="Cadastrar">
    </form>